.calendar-warp {
  float: left;
  width: 73%;
  margin: 30px 50px 0px 30px;
  border: 1px solid #D4D4D4;
  border-radius: 16px;
  -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  .calender {
    width: 100%;
    .title-warp {
      position: relative;
      display: block;
      height: 45px;
      line-height: 45px;
      .current-time-warp {
        position: relative;
        height: 100%;
        padding-left: 30px;
        .icon-calender {
          position: absolute;
          top: 0px;
          bottom: 0px;
          margin: auto;
          width: 24px;
          height: 22px;
          background: url(../../images/calendar/icon-calendar.svg) center no-repeat;
        }
        .current-time {
          display: inline-block;
          padding-left: 35px;
          line-height: 45px;
          color: #404C65;
        }
      }
      .switch {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 40px;
        margin: auto;
        height: 45px;
        .opt-btn {
          display: inline-block;
          width: 35px;
          height: 35px;
          line-height: 35px;
          text-align: center;
          &:hover {
            opacity: .4;
            cursor: pointer;
            border-radius: 4px;
            background-color: #D8D8D8;
          }
          i {
            display: inline-block;
            width: 13px;
            height: 15px;
            vertical-align: middle;
            background: url(../../images/calendar/icons.svg) center no-repeat;
            &.icon-prev {
              background-position: -15px -14px;
            }
            &.icon-next {
              background-position: -44px -14px;
            }
          }
        }
      }
    }
    .week-warp {
      display: inline-block;
      width: 100%;
      border-top: 1px solid #D4D4D4;
      li {
        float: left;
        width: 14.2%;
        height: 40px;
        line-height: 40px;
        text-align: center;
        list-style: none;
        overflow: hidden;
      }
    }
    .date-warp {
      width: 100%;
      margin-top: -4px;
      border-spacing: 0;
      tr {
        td {
          position: relative;
          width: 14.2%;
          height: 60px;
          vertical-align: top;
          padding: 10px 5px 2px 20px;
          border: 1px solid #D4D4D4;
          &:first-child {
            border-left: none;
          }
          &:last-child {
            border-right: none;
          }
          &.past-time {
            color: #dedede;
            background-color: rgba(242,239,239,.3);
          }
          .mark {
            display: inline-block;
            padding: 3px 5px;
            margin: 3px;
            font-size: 10px;
            color: #fff;
            background-color: #2ECC71;
          }
        }
        &:last-child td {
          border-bottom: none;
        }
      }
    }
  }
}
