body {
  background-color: #404364;
}
.header {
  height: .8rem;
  line-height: .8rem;
  background-color: #4A4F6F;
}
.list-warp {
  position: absolute;
  width: 100%;
  //高度是用整体高度减去导航的高度
  height: calc(100% - .8rem);
  dl {
    box-sizing: border-box;
    float: left;
    width: 50%;
    height: 33.33%;
    border-bottom: 2px solid #6B6F8A;
    &:nth-child(odd) {
      border-right: 2px solid #6B6F8A;
    }
    &:last-child {
      border-bottom: none;
    }
    a {
      display: inline-block;
      width: 100%;
      height: 100%;
      dt {
        display: block;
        width: 1rem;
        height: 1rem;
        margin: 1rem auto 0rem;
        text-align: center;
        .icon {
          display: inline-block;
          background-size: contain;
          background-repeat: no-repeat;
          &.icon-news {
            width: .88rem;
            height: .88rem;
            background-image: url(../../images/college/icon-news.png);
          }
          &.icon-sale {
            width: 1rem;
            height: .89rem;
            background-image: url(../../images/college/icon-sale.png);
          }
          &.icon-story {
            width: .92rem;
            height: .96rem;
            background-image: url(../../images/college/icon-story.png);
          }
          &.icon-prod {
            width: 1.08rem;
            height: 1.04rem;
            background-image: url(../../images/college/icon-prod.png);
          }
          &.icon-tool {
            width: .96rem;
            height: .90rem;
            background-image: url(../../images/college/icon-tool.png);
          }
        }
      }
      dd {
        opacity: .5;
        margin-top: .4rem;
        text-align: center;
        font-size: .34rem;
        color: #FFFFFF;
      }
    }
  }
}
.book-list {
  width: 7.21rem;
  height: 3.51rem;
  margin: auto;
  background: url('../../images/college/book.png') center no-repeat;
  background-size: contain;
}
.submit-btn {
  opacity: .9;
  position: absolute;
  bottom: .6rem;
  left: 0rem;
  right: 0rem;
  width: 6rem;
  height: .88rem;
  margin: auto;
  border: 1px soild #4A4F6F;
  border-radius: .44rem;
  line-height: .88rem;
  text-align: center;
  color: #fff;
  font-size: .34rem;
  background-color: #4A4F6F;
}
